.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#333;
  padding:20px 20px;
  border:2px solid red;
}

.headerContainer .headerLeft {
    display: flex;
    align-items: center;
    gap:10px;
}

.headerContainer .headerLeft img {
    width:40px;
}
.headerContainer a { 
    text-decoration: none;
    color:#333;
}

.headerContainer .headerRight .rightPart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}