.heroContainer {
  /* height: 88dvh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContainer .heroLeft {
  width: 60%;
  /* height: 100%; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  gap: 20px;
}

.heroContainer .heroLeft h1 {
  font-size: 120px;
  font-size: 8vw;
}

.heroContainer .heroLeft span {
  font-size: 80px;
  font-size: 7vw;
  color: #fd6b47;
}

.heroContainer .heroLeft p {
  line-height: 1.7;
  font-size: 2vw;
  font-weight: 400;
  color: dimgray;
}

.heroContainer .heroLeft .recipesButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.heroContainer .heroLeft a,
a:hover,
a:active {
  color: black;
}

.heroContainer a:active {
  text-decoration: none;
}

.heroContainer .heroRight {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.heroContainer .heroRight img {
  height: 100%;
  width: 28vw;
}

@media screen and (max-width: 600px) {
  .heroContainer {
    height: 100%;
  }

  .heroContainer .heroRight img {
    width: 40vw;
    height: 60dvh;
  }

  .heroContainer .heroLeft h1 {
    font-size: 56px;
  }

  .heroContainer .heroLeft span {
    font-size: 28px;
  }

  .heroContainer .heroLeft {
    gap:10px;
  }

  .heroContainer .heroLeft p {
    font-size: 14px;
    letter-spacing: 1.2px;
  }
}
