.heroSection {
  /* border: 2px solid red; */
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border:2px solid red;
  height:88dvh;
}

.heroSection .headingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}

.heroSection h1 {
  text-transform: uppercase;
  font-size: 8vw;
  color: #333;
}

.heroSection h1 {
  background: linear-gradient(
    270deg,
    #ff6a00,
    #b94e1b,
    #a83c3c,
    #913131,
    #7a2626,
    #913131,
    #a83c3c,
    #b94e1b,
    #c76d2b
  );
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 6s ease-in-out infinite;
  background-position: 0;
}

.heroSection span {
  text-transform: capitalize;
  font-weight: 500;
  padding-top: 10px;
  color: #a83c3c;
  font-size: 32px;
}

.imageContainer {
  margin: 0 auto;
  padding: 20px 0;
  /* max-width: 1000px; */
  overflow: hidden;
  display: flex;
  border-radius: 150px;
}

.foodImages {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  animation: scrolling 20s linear infinite;
}

.foodImages .food {
  width: 200px;
  height: 200px;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.foodImages .food img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate-gradient {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}
@media screen and (max-width: 768px) {
  .heroSection h1 {
    font-size: 7.5vw;
  }
}

@media screen and (max-width: 480px) {
  .heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    letter-spacing: 1.2px;
    line-height: 55px;
    margin-top: 40px;
    /* border:2px solid red; */
  }

  .heroSection .headingContainer {
    flex-direction: column;
  }

  .heroSection h1 {
    font-size: 60px;
  }

  .heroSection span {
    font-size: 5vw;
    color: #7a2626;
    font-weight: 500;
  }

  .imageContainer {
    max-width: 380px;
    margin-top:40px;
  }

  .foodImages .food {
    width:150px;
    height:150px;
  }
}
