.recipeContainer {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  flex-direction: column;
}

.recipeContainer .recipeHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 77vw;
}

/* ***************************************************** Left Container of the recipe heading **********************************************/
.recipeContainer .recipeHeadingContainer .containerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
}

.recipeContainer .recipeHeadingContainer .containerLeft img {
  width: 50px;
}

.recipeContainer .recipeHeadingContainer .containerLeft input {
  background-color: transparent;
  border: none;
  width: 40vw;
  height: 44px;
  border-radius: 40px;
  font-size: 16px;
  border: 2px solid #ec795c;
  padding-left: 20px;
  background-color: rgb(248, 237, 229);
  letter-spacing: 1.2px;
  color: #333;
}

.recipeContainer .recipeHeadingContainer .containerLeft input:focus {
  outline: none;
}

.recipeContainer .recipeHeadingContainer .containerLeft input::placeholder {
  text-align: center;
}

/* ***************************************************** Right Container of Rcipe Heading ************************************************* */
.recipeContainer .recipeHeadingContainer .containerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.recipeContainer .recipeHeadingContainer .containerRight .plus,
.bookmark {
  display: none;
}

.recipeContainer .recipeHeadingContainer .containerRight p:hover {
  color: #ec795c;
}

.recipeContainer
  .recipeHeadingContainer
  .containerRight:hover
  .bookmarksSection {
  /* display: block; */
}

.bookmarksSection {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 250px;
  z-index: 9999;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.bookmarkWrapper {
  position: relative;
}

.containerRight:hover .bookmarksSection,
.bookmarksSection.visibility {
  display: block;
}

.bookmarkWrapper:hover .bookmarksSection {
  display: block;
}

/* @media (max-width: 768px) {
  .bookmarksSection {
    position: fixed;
    top: 60px; 
    right: 10px;
    width: 90%;
    max-height: 60vh;
    overflow-y: auto;
    z-index: 9999;
  }
} */

/* .bookmarkedVisible {
  position: absolute;
  right: 10px;
  border: 2px solid red;
  width: 260px;
  background-color: #e0e0df;
  padding: 20px;
  border-radius: 10px;
} */

.bookmarkedVisible p {
  font-size: 12px;
}

.bookmarkedVisible .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bookmarkedVisible .imgDiv {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 2px solid red; */
}

.bookmarkedVisible .imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ******************************************* Middle Container below the recipeHeading Container *************************************** */
.recipeContainer .recipeMiddleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  /* border: 2px solid red; */
  margin: 20px 0;
  gap: 20px;
  z-index: -1;
}

/* ************************************************** Left Middle Container below the recipeHeading Container ***************************** */
.recipeContainer .recipeMiddleContainer .recipeMiddleLeft {
  /* border: 2px solid red; */
  width: 35%;
  /* padding: 20px 0px; */
}

.recipeContainer .recipeMiddleContainer .recipeMiddleLeft .buttonContainer {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .buttonContainer
  button {
  background-color: transparent;
  /* border: none; */
  font-size: 16px;
  /* color: #ec795c; */
  background-color: rgb(248, 237, 229);
  border: 2px solid #ec795c;
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .buttonContainer
  button:hover {
  background-color: rgb(253, 231, 215);
  box-shadow: 0 0 7px #ec795c;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleLeft .recipeSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 5px 0px;
  border-bottom: 2px solid #ec795c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleLeft .recipeSection:hover {
  box-shadow: 0px -2px 5px #ec795c inset;
  margin: 5px 0px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipe1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipe1
  .recipeImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleLeft .recipeSection img {
  object-fit: cover;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipeInner
  p {
  /* font-size: 1.75vw; */
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipeInner
  #itemName {
  /* font-weight: 500; */
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipeInner
  #personName {
  font-size: 14px;
  color: #565656;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipeInner {
  /* font-size: 18px; */
  letter-spacing: 1.2px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .userSection {
  border: 2px solid #ec795c;
  /* display: inline; */
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  color: #333;
}

/* **************************************************** Middle Right  Container below the recipe heading Container ************************* */
.recipeContainer .recipeMiddleContainer .recipeMiddleRight {
  /* border: 2px solid blue; */
  width: 65%;
}

/* ************************************************* Section 1 of Middle Right Container ****************************************** */
.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-1 {
  height: 300px;
  /* border: 2px solid red; */
  overflow: hidden;
  border-radius: 20px;
}

.sec-1 img {
  width: 100%;
  height: 100%;
}

/* ************************************************ Section 2 of Middle Right Container ******************************************** */
.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25vw;
  padding: 30px 40px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 .secInner,
.clockContainer,
.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 .secInner {
  gap: 40px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleRight
  .sec-2
  .secInner
  .clock,
.user,
.heart,
.plus,
.minus {
  color: #ec795c;
}

.plus,
.minus {
  cursor: pointer;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleRight
  .sec-2
  .secOuter
  .likeContainer
  button {
  cursor: pointer;
  background: transparent;
  font-size: 22px;
  border: none;
}

/* *************************************************** Section 3 of Middle Right Container ****************************************** */
.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 h2 {
  padding-bottom: 30px;
  font-weight: 400;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 .check {
  color: #ec795c;
  font-size: 24px;
  padding: 0 20px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleRight
  .sec-3
  .listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 3rem;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 30px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 ul li {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 .addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 40px;
  margin: 20px 0;
  cursor: pointer;
  background-color: rgb(248, 237, 229);
  border: none;
  border: 2px solid #ec795c;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleRight
  .sec-3
  .addToCart:hover {
  background-color: rgb(253, 231, 215);
  box-shadow: 0 0 7px #ec795c;
}

/* ********************************************* Section 4 of Middle Right Container *********************************************** */
.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 p {
  font-size: 1.3vw;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 p strong {
  color: #ec795c;
  position: relative;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleRight
  .sec-4
  p
  strong::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ec795c;
  border-radius: 40px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 button {
  background-color: transparent;
  border: none;
  font-size: 1.5vw;
  color: #ec795c;
  margin: 20px 0;
  outline: none;
  cursor: pointer;
  position: relative;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleRight
  .sec-4
  button::after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ec795c;
  border-radius: 40px;
  /* animation: slideIn 0.3s ease-in-out forwards; */
  transition: width 0.3s ease-in-out;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleRight
  .sec-4
  button:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 h1 {
  font-size: 2vw;
  margin: 10px 0;
  /* transform: rotate(-5deg); */
  font-weight: 300;
}

@media screen and (max-width: 1000px) {
  .recipeContainer {
    width: 100%;
  }

  .recipeContainer .recipeHeadingContainer {
    width: 90%;
    margin: auto;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft img {
    width: 5vw;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft input {
    height: 30px;
    font-size: 12px;
  }

  .recipeContainer .recipeHeadingContainer .containerRight {
    font-size: 13px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 {
    font-size: 14px;
    padding: 23px 2vw;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 .secInner {
    gap: 10px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 h2 {
    padding-bottom: 15px;
    font-size: 20px;
  }

  .recipeContainer
    .recipeMiddleContainer
    .recipeMiddleRight
    .sec-3
    .listContainer {
    font-size: 12px;
    gap: 2.5rem 0;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 .check {
    padding: 4px 10px;
    font-size: 12px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 .addToCart {
    font-size: 11px;
    margin: 0;
    margin-bottom: 10px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 h1 {
    font-size: 16px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 p {
    font-size: 12px;
    text-align: center;
    line-height: 20px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 button {
    margin: 10px 0;
    font-size: 12px;
  }

  /* .recipeContainer {
    width: 99vw;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    padding: 30px 40px;
  }

  /* .recipeMain {
    width: 99vw;
  } */

  /* .recipeMiddleContainer {
    width: 99vw;
    overflow: hidden;
  }

  .recipeMiddleLeft {
    width: 40%;
  }

  .recipeMiddleRight {
    width: 60%;
  } */

  /* .recipeImage {
    width: 10.75vw;
  } */

  /* .recipeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
}

@media screen and (max-width: 500px) {
  .recipeContainer .recipeHeadingContainer {
    overflow: hidden;
    gap: 10px;
    padding: 10px 5px;
    width: auto;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft img {
    width: 10vw;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft input {
    padding-left: 5px;
  }

  .recipeContainer .recipeHeadingContainer .containerRight .addHeading,
  .bookmarkHeading {
    display: none;
  }
  .recipeContainer .recipeHeadingContainer .containerRight .plus,
  .bookmark {
    display: block;
    color: #ec795c;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft input {
    width: 60vw;
    font-size: 3.25vw;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft input {
    color: #757578;
  }

  .recipeContainer .recipeMiddleContainer {
    flex-direction: column;
  }

  .recipeContainer .recipeMiddleContainer {
    width: 98%;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleLeft {
    width: 100%;
    /* padding: 20px 0px; */
  }

  .recipeContainer
    .recipeMiddleContainer
    .recipeMiddleLeft
    .recipeSection
    .recipe1
    .recipeInner
    p {
    font-size: 4vw;
    font-weight: 300;
    text-transform: uppercase;
  }

  .recipeContainer
    .recipeMiddleContainer
    .recipeMiddleLeft
    .recipeSection
    .recipe1
    .recipeImage {
    width: 15vw;
  }

  .recipeContainer
    .recipeMiddleContainer
    .recipeMiddleLeft
    .recipeSection
    .userSection {
    width: 18px;
    height: 22px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight {
    width: 97vw;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 {
    padding: 20px 0px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 .secInner,
  .secOuter {
    font-size: 4vw;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 .secInner {
    gap: 8px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 .secInner,
  .clockContainer,
  .userContainer {
    gap: 7px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 h2 {
    padding-bottom: 15px;
    font-size: 5vw;
  }

  .recipeContainer
    .recipeMiddleContainer
    .recipeMiddleRight
    .sec-3
    .listContainer {
    gap: 1.5rem 0;
    font-size: 3vw;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 .check {
    padding: 2px 8px;
    font-size: 13px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 .addToCart {
    font-size: 3vw;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 h1 {
    font-size: 12px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 p {
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-4 button {
    font-size: 10px;
  }
}
