.recipeContainer {
  border: 2px solid red;
  /* height:87dvh; */
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
}

.recipeHeadingContainer {
  border: 2px solid black;
  /* max-width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.containerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
}

.containerLeft input {
  background-color: transparent;
  border: none;
  width: 40vw;
  height: 40px;
  border-radius: 40px;
  font-size: 16px;
}

.containerLeft input::placeholder {
  text-align: center;
}
.containerLeft img {
  width: 50px;
}

.containerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 18px;
}

@media screen and (max-width: 578px) {
  .recipeContainer {
    width: 98%;
  }
  .containerRight {
    gap: 4px;
    font-size: 3.25vw;
  }

  .containerLeft img {
    width: 5vw;
  }
  .containerLeft input {
    background-color: transparent;
    border: none;
    width: 40vw;
    height: 40px;
    border-radius: 40px;
    font-size: 2.5vw;
    letter-spacing: 1.1px;
  }

  .containerLeft input::placeholder {
    font-size: 12px;
  }
}
