.recipeContainer {
  /* border: 2px solid red; */
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  flex-direction: column;
  /* border:2px solid green; */
}

.recipeContainer .recipeHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
  /* border: 2px solid salmon; */
  /* gap: 30px; */
  margin-top: 20px;
  width: 77vw;
  /* border:2px solid red; */
  /* width: auto; */
}

.recipeContainer .recipeHeadingContainer .containerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
}

.recipeContainer .recipeHeadingContainer .containerLeft input {
  background-color: transparent;
  border: none;
  width: 40vw;
  height: 44px;
  border-radius: 40px;
  font-size: 16px;
  border: 2px solid #ec795c;
  padding-left: 20px;
  background-color: rgb(248, 237, 229);
  letter-spacing: 1.2px;
  color: #333;
}

.recipeContainer .recipeHeadingContainer .containerLeft input:focus {
  /* border:2px solid green; */
  outline: none;
}

.recipeContainer .recipeHeadingContainer .containerLeft input::placeholder {
  text-align: center;
}

.recipeContainer .recipeHeadingContainer .containerLeft img {
  width: 50px;
}

.recipeContainer .recipeHeadingContainer .containerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.recipeContainer .recipeHeadingContainer .containerRight .plus,
.bookmark {
  display: none;
}
.recipeContainer .recipeHeadingContainer .containerRight p:hover {
  color: #ec795c;
}

.recipeContainer .recipeMiddleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* border: 2px solid red; */
}

.recipeContainer .recipeMiddleContainer .recipeMiddleLeft {
  /* border: 2px solid red; */
  width: 35%;
  padding: 20px 0px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleLeft .recipeSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 5px 0px;
  border-bottom: 2px solid #ec795c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleLeft .recipeSection:hover {
  box-shadow: 0px -2px 5px #ec795c inset;
  margin: 5px 0px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipe1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipe1
  .recipeImage {
  overflow: hidden;
  /* border: 2px solid greenyellow; */
  width: 85px;
  /* height: 80px; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleLeft .recipeSection img {
  max-width: 100%;
  object-fit: cover;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipeInner
  p {
  font-size: 18px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipeInner
  #itemName {
  font-weight: 500;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipeInner
  #personName {
  font-size: 14px;
  color: #2f2f2f;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .recipeInner {
  /* font-size: 18px; */
  letter-spacing: 1.2px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleLeft
  .recipeSection
  .userSection {
  border: 2px solid #ec795c;
  /* display: inline; */
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  color: #333;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight {
  border: 2px solid blue;
  width: 65%;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-1 {
  height: 400px;
  border: 2px solid red;
  overflow: hidden;
}

.sec-1 img {
  width: 100%;
  height: 100%;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vw;
  padding: 30px 40px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 .secInner,
.clockContainer,
.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-2 .secInner {
  gap: 40px;
}

.recipeContainer
  .recipeMiddleContainer
  .recipeMiddleRight
  .sec-2
  .secInner
  .clock,
.user,
.heart,
.plus,
.minus {
  color: #ec795c;
}

.plus,
.minus {
  cursor: pointer;
}

.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.recipeContainer .recipeMiddleContainer .recipeMiddleRight .sec-3 .check {
  color: #ec795c;
  font-size: 24px;
  padding: 0 40px;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 3rem;
  list-style: none;
}

ul li {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}

.addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 40px;
  margin: 20px 0;
  cursor: pointer;
  background-color: transparent;
  border:none;
}

.sec-4 {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.sec-4 button {
  background-color: transparent;
  border:none;
  font-size: 1.5vw;
}

.sec-4 h1 {
  font-size: 2vw;
  margin:10px 0;
  /* transform: rotate(-5deg); */
  font-weight: 300;
}


@media screen and (max-width: 800px) {
  .recipeContainer {
    width: 99vw;
  }

  /* .recipeMain {
    width: 99vw;
  } */

  .recipeMiddleContainer {
    width: 99vw;
    overflow: hidden;
  }

  .recipeMiddleLeft {
    width: 40%;
  }

  .recipeMiddleRight {
    width: 60%;
  }

  .recipeImage {
    width: 10.75vw;
  }

  .recipeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 500px) {
  .recipeMiddleContainer {
    flex-direction: column;
  }

  .recipeMiddleRight {
    width: 100vw;
  }

  .recipeContainer .recipeMiddleContainer .recipeMiddleLeft {
    width: 100%;
    padding: 20px 0px;
  }

  .recipeContainer .recipeHeadingContainer {
    overflow: hidden;
    gap: 10px;
    padding: 10px 5px;
    width: auto;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft img {
    width: 10vw;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft input {
    padding-left: 5px;
  }
  .recipeContainer
    .recipeMiddleContainer
    .recipeMiddleLeft
    .recipeSection
    .recipe1
    .recipeImage {
    width: 15vw;
  }

  .recipeContainer .recipeHeadingContainer .containerRight .addHeading,
  .bookmarkHeading {
    display: none;
  }
  .recipeContainer .recipeHeadingContainer .containerRight .plus,
  .bookmark {
    display: block;
    color: #ec795c;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft input {
    width: 60vw;
    font-size: 3.25vw;
  }

  .recipeContainer .recipeHeadingContainer .containerLeft input {
    color: #757578;
  }

  .recipeContainer .recipeMiddleContainer {
    width: 98%;
  }
}
